* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #026a61;
  --white: #ffffff;
  --dark-teal: #014d47;
  --light-teal: #038a7f;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: var(--white);
  color: #333;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-teal);
}

